*{
    margin: 0px;
    padding: 0px;
    background-color: chocolate;
}

div#capsalera {
    margin: auto;
    width: 100%;
    font-family: fantasy;
}

ul,ol {
    list-style: none;
}

.nav li a{
   background-color: black; /*color del fons*/
    color: white; /*color de les lletres*/
    text-decoration: none; /*Treu el subrallat del link*/
    padding: 13px 15px;
    display: block;
    min-width: 140px;
}

.nav li{
    width: 20%;
}

.nav>li{
    float: left;
}

.nav li a:hover{
    background-color: darkgray; /*Color al pasar el ratoli*/
    cursor: pointer; /*Canvia de forma el ratoli*/
}

.nav li ul {
    display: none;
    position: absolute;
    width: 280px;
    margin-right: -254px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li{
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}
.nav li ul span {
    
}
.icon-arrow-circle-o-down {
}

.lore {
    margin-left: 25%;
    margin-right: 25%;
}

.lore p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 1000px;
    padding-top: 60px;
    font-family: sans-serif;
    background-color: antiquewhite;
    
}
.nav {
    position: fixed;
    width: 100%;
}
.lore a {
    background-color: antiquewhite;
    text-decoration: none;
    font-family: cursive;
    color: fuchsia;
}